if tableLocations.length > 0
	if tableLocations.length > 1
		h2 There are #{tableLocations.length} locations.
	else
		h2 There is #{tableLocations.length} location.
	table#locations
		thead
			tr
				each row, key in tableLocations[0]
					if key != 'id'
						th= key
		tbody
			each row in tableLocations
				tr(id="location-" + row.id)
					each value, key in row
						if key != 'id'
							- //td(id="location-" + row.id)= value
							td= value
					td.actions
						form
							button.update-button(id="update-location-" + row.id, type="submit", formmethod="get" formaction="tagging/update/#{row.id}")
							button.delete-button(id="delete-location-" + row.id, type="submit", formmethod="get" formaction="tagging/delete/#{row.id}")
else
	p There are no locations yet.
